h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  line-height: 115%;
  color: $support-gray-darker;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 125%;
  color: $support-gray-dark;
}

.title {
  &--max {
    font-size: titleSize("max");
  }
  &--mid {
    font-size: titleSize("mid");
  }
}

.subtitle {
  &--max {
    font-size: subTitleSize("max");
  }
  &--mid {
    font-size: subTitleSize("mid");
  }
}

.body {
  &--max {
    font-size: bodySize("max");
  }
  &--mid {
    font-size: bodySize("mid");
  }
  &--reg {
    font-size: bodySize("reg");
  }
}
