.break {
  padding: 80px 0;
  background: $support-gray-regular;
  @include device("sm"){
    padding: 64px 0;
  }

  &__title{
    text-align: center;
    color: $support-white-lighter;
    margin-bottom: 1.5rem;
  }

  &__button{
    margin: 0 auto;
    display: block;
    max-width: 170px;
    margin: 0 auto;
  }
}