.break {
  background: $support-gray-regular;
  @include spaceSection(80px, "top-bottom", "sm");

  &__title{
    text-align: center;
    color: $support-white-lighter;
    margin-bottom: 1.5rem;
  }
}