.footer {
  background: $base-regular;
  @include spaceArticle();

  & p {
    color: $support-white-lighter;
  }

  &__link {
    color: $focus-regular;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in;

    &:hover{
      color: $focus-lighter;
    }
  }

  &__container {
    align-items: center;
  }

  &__logo {
    max-width: 200px;

    @include device("sm"){
      margin: 16px auto;
    }
  }
}