.inside {
  background: $support-gray-regular;

  @include spaceSection(128px, "top-bottom", "sm");

  @include device("md") {
    padding: 80px 0;
  }

  &__title {
    color: $support-white-lighter;
  }

  &__sobre {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/sobre.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/sobre.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  &__iniciando {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/como-comecar.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/como-comecar.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  &__cursos {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/cursos.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/cursos.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  &__populares{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/populares.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/populares.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  &__aromaticas{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/aromaticas.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/aromaticas.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  &__extincao{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/extincao.jpg");
    background-position: center;
    background-size: cover;

    @include device("sm"){
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/extincao.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
