.inside {
  background: $support-gray-regular;

  @include spaceSection(128px, "top-bottom", "sm");

  @include device("md") {
    padding: 80px 0;
  }

  &__title {
    color: $support-white-lighter;
  }
}
