$grid__bp--lg: 1170;
$grid__bp--md: 768;
$grid__bp--sm: 320;

$grid__gutter: 20px;


.flex {
  max-width: $grid__bp-lg + px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.flex-item-1 {
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-start;

}

// 100 / colunas * i - gutter 