// Grid Variables
$columns: 12;
$gutter: 20px;
$large-device: 1170px;
$medium-device: 760px;
$small-device: 480px;

// Media Queries Mixin

@mixin device($size) {
  @if $size == large {
    @media screen and (min-width: $large-device) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (max-width: $large-device - 1) {
      @content;
    }
  } @else if $size == small {
    @media screen and (max-width: $medium-device - 1) {
      @content;
    }
  }
}

// Create Grid
@function createGrid($col, $offset: false) {
  $width: $col / $columns * 100 + "%";
  $result: calc(#{$width} - #{$gutter});

  @if $offset == true {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }

  @return $result;
}

// Create Classes
@for $i from 1 through $columns {
  .grid-#{$i} {
    width: createGrid($i);
  }
}

// Mixin Grid Structure
@mixin grid-structure {
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;

  @include device(small) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

[class^="grid-"] {
  @include grid-structure;
}

// Create Offset Classes
@for $i from 1 through $columns {
  .offset-#{$i} {
    width: createGrid($i, true);
    @extend %offset;
  }
}

@include device(small) {
  %offset {
    margin-left: 0px;
  }
}

// Container
@mixin container {
  max-width: $large-device;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 95%;

  @include device(medium) {
    max-width: $medium-device;
  }

  @include device(small) {
    max-width: $small-device;
    flex-direction: column;
    justify-content: center;
  }
}

.container {
  @include container;
}

// Row
@mixin row {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  display: flex;
  flex-wrap: wrap;

  @include device(small) {
    margin-left: 0;
    margin-right: 0;
  }
}

.row {
  @include row;
}
