.hero {
  padding: 128px 0;

  @include device(medium){
    padding: 64px 0;
  }

  &__content {
    padding-right: 100px;
    @include device(medium){
      padding-right: 30px;
    }
    @include device(small){
      padding-right: 0;
    }
  
  }
  &__subtitle {
    padding: 24px 0;
  }

  &__cards{
    @include device(small){
      padding-top: 64px;
    }
  }
  .card {
    @include generateShadow();
    display: flex;
    align-items: center;
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__image {
      width: 100px;
      height: 100px;
      background: $support-white-darker;
      border-radius: 8px;
    }
    &__content {
      flex: 1;
      position: relative;
    }
    &__title {
      text-align: center;
    }
    &__arrow {
      position: absolute;
      right: 1rem;
      bottom: -2rem;
    }
  }
}
