.hero {
  padding: 128px 0;

  @include device(small){
    padding: 64px 0;
  }

  &__content {
    padding-right: 100px;
    @include device(medium){
      padding-right: 30px;
    }
    @include device(small){
      padding-right: 0;
    }
  
  }
  &__subtitle {
    padding: 24px 0;
  }

  &__cards{
    @include device(small){
      padding-top: 64px;
    }
  }
  .card {
    @include generateShadow();
    display: flex;
    align-items: center;
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__image {
      width: 100px;
      height: 100px;
      background: $support-white-darker;
      border-radius: 8px;

      @include device(medium){
        width: 70px;
        height: 70px;
      }
      @include device(small){
        width: 100px;
        height: 100px;
      }
    }
    &__content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 32px;
    }
    &__title {
      text-align: center;
    }
    &__arrow {
      display: block;
      width: 20px;

      @include device(medium){
        bottom:  -1rem;
      }
    }
  }
}

.mission {
  &__text{
    padding-right: 100px;
    @include device(small){
      padding-right: 0;
    }
  }
  &__title{
    @include generateBottomBar();
    padding-bottom: 1.5rem;

  }
  &__body{
    padding-bottom: 1.5rem;
  }

  &__picture{
    height: 300px;
    border-radius: 8px;
    background: $support-white-darker;
    @include device(small){
      margin-top: 2rem;
    }
  }
}