.plants {
  padding-top: 80px;

  &__card{
    padding-bottom: 80px;
  }

  &__picture{
    height: 400px;
    background: $support-gray-regular;
    border-radius: 8px;
  }

  &__text{
    padding-left: 100px;
    @include device("sm"){
      padding-left: 0;
      padding-bottom: 2rem;
      order: -1;
    }
  }

  &__title {
    @include generateBottomBar();
    padding-bottom: 1.5rem;
  }

  &__body{
    &:first-of-type{
      padding-bottom: 1rem;
    }
  }

}