.starting {
  @include spaceSection(80px, "top", "sm");
  &__steps {
    @include spaceSection(80px, "bottom", "sm");
  }
  &__step {
    @include device("sm") {
      order: -1;
      padding-bottom: 2rem;
    }

    &--right {
      @include spaceLateral(100px, "right");
    }
    &--left {
      @include spaceLateral(100px, "left");
    }
  }

  &__subtitle {
    padding-bottom: 1rem;
  }
  &__number {
    font-size: 3.5rem;
    color: $focus-dark;
  }

  &__picture {
    width: 100%;
    height: 360px;
    background: $support-white-lighter;
    border-radius: 8px;
  }
}
