@keyframes show-down{
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-up{
  from{
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}