@mixin generateBottomBar($color: $focus-regular, $centered: false) {
  &::after {
    display: block;
    margin: 5px 0;
    width: 150px;
    background: $color;
    height: 7px;
    content: "";

    @if $centered == true {
      margin: 5px auto;
    }
  }
}

@mixin generateShadow($size: "sm") {
  @if $size == "sm" {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  } @else if $size == "md" {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  }
}

// Media Queries Mixin

@mixin device($size) {
  @if $size == "lg" {
    @media screen and (min-width: $large-device) {
      @content;
    }
  } @else if $size == "md" {
    @media screen and (max-width: $large-device - 1) {
      @content;
    }
  } @else if $size == "sm" {
    @media screen and (max-width: $medium-device - 1) {
      @content;
    }
  }
}

// Space Mixin

@mixin spaceSection($size: 80px, $position: "top-bottom", $breakpoint: "md") {
  @if $position == "top-bottom" {
    padding: $size 0;
    @include device($breakpoint) {
      padding: 64px 0;
    }
  } @else if $position == "top" {
    padding-top: $size;
    @include device($breakpoint) {
      padding-top: 64px;
    }
  } @else if $position == "bottom" {
    padding-bottom: $size;
    @include device($breakpoint) {
      padding-bottom: 64px;
    }
  }
}

@mixin spaceArticle($size: 64px, $position: "top-bottom", $breakpoint: "md") {
  @if $position == "top-bottom" {
    padding: $size 0;
    @include device($breakpoint) {
      padding: 32px 0;
    }
  } @else if $position == "top" {
    padding-top: $size;
    @include device($breakpoint) {
      padding-top: 32px;
    }
  } @else if $position == "bottom" {
    padding-bottom: $size;
    @include device($breakpoint) {
      padding-bottom: 32px;
    }
  }
}

@mixin spaceLateral($size: 100px, $position: "right") {
  @if $position == "right" {
    padding-left: $size;

    @include device("sm") {
      padding-left: 0;
    }
  } @else if $position == "left" {
    padding-right: $size;
    @include device("sm") { 
      padding-right: 0;
    }
  }
}
