// Colors

$base-regular: #1D1B27;

$focus-darker: #048034;
$focus-dark: #119946;
$focus-regular: #1CAA53;
$focus-light: #2ABD63;
$focus-lighter: #40D67A;
 
$support-gray-darker: #0F0F0F;
$support-gray-dark: #1F1F1F;
$support-gray-regular: #383838;
$support-gray-light: #525252;
$support-gray-lighter: #6B6B6B;

$support-white-darker: #BABABA;
$support-white-dark: #D1D1D1;
$support-white-regular: #E4E4E4;
$support-white-light: #F0F0F0;
$support-white-lighter: #FCFCFC;

// Grid Variables
$columns: 12;
$gutter: 20px;
$large-device: 1170px;
$medium-device: 760px;
$small-device: 480px;